---
import Layout from '../layouts/Layout.astro'
---

<Layout
	title="Experience"
	description="Experienced Full Stack Developer with a demonstrated history of working in the information technology and services industry"
	keywords="code contributions,developer advocate, open source collaboration, problem solver, software development, laravel developer, react developer, full stack developer, javascript developer, web developer, software engineer"
	image="/favicon.svg"
>
	<section>
		<div class="container">
			<div class="content">
				<h1>Experience</h1>
				<div class="card">
					<h2>Backend Developer</h2>
				<h3>Universitas Gajah Mada — Daerah Istimewa Yogyakarta, ID (Apr 2024 - Present)</h3>
				<div class="grid">
					<ul>
						<li>
							Developed the MinerbaOne platform using microservices architecture to enhance
							scalability and maintainability.
						</li>
						<li>
							Responsible for designing, developing, and maintaining the platform's backend
							services, which are used by more than 71K+ active users on a regular basis.
						</li>
						<li>
							Developed various services using Laravel RESTful API. Implemented authentication and
							authorization using JWT
						</li>
						<li>Debugged and fixed bugs to ensure system reliability.</li>
						<li>
							Utilized the sprint method for development iterations, involving planning sessions,
							daily stand-ups, reviews, and retrospectives.
						</li>
					</ul>
				</div>
				</div>
				<div class="card">
					<h2>Full Stack Developer</h2>
				<h3>CV. Aliansyah — Pati, Central Java, ID (Sep 2022 - Now)</h3>
				<div class="grid">
					<ul>
						<li>
							Responsible for designing, developing, and maintaining a web application used by more
							than 100+ active users on a regular basis.
						</li>
						<li>
							Integrating external APIs and third-party services to enhance the application's
							functionality and support the growth of active users. (DB Transaction, Task
							Scheduling)
						</li>
						<li>
							Responsible for brainstorming, developing, testing, collaborating, code reviewing,
							debugging, and deploying. (GitHub, CI/CD, Unit Test, Server Monitoring, Logging)
						</li>
						<li>
							Optimized SQL Query for the heavy-load parts of the system, which improved website
							performance by 40% (Optimize Query, Indexing, Caching, Queue)
						</li>
						<li>
							Conducting regular monitoring and maintenance, as well as responding to user feedback
							to address weaknesses and improve features.
						</li>
					</ul>
				</div>
				</div>
				<div class="card">
					<h2>AI Mastery MSIB Participant</h2>
				<h3>Orbit Future Academy — South Jakarta, Jakarta Raya, ID (Feb 2022 - Jul 2022)</h3>
				<div class="grid">
					<ul>
						<li>
							I learn about Deep Learning, Data Science, Natural Language Processing, Computer
							Vision, Reinforcement Learning, and Version Control System.
						</li>
						<li>
							Learn softskills such as professional branding, problem-solving, critical thinking,
							time management and teammate.
						</li>
						<li>
							I learn how to use Python, TensorFlow, Keras, PyTorch, Scikit-Learn, OpenCV, and other
							libraries to build Machine Learning models.
						</li>
						<li>Deploy Machine Learning models to the cloud and create a web app.</li>
					</ul>
				</div>
				</div>
				<div class="card">
					<h2>Mobile Developer</h2>
				<h3>PT PJB UBJOM REMBANG — Rembang, Central Java, ID (Agust 2021 - Okt 2021)</h3>
				<div class="grid">
					<ul>
						<li>
							Collaborated with back-end teams to brainstorm, design, and develop a service product
							to help people get hired.
						</li>
						<li>
							Ensuring the applications perform optimally and provide a satisfying user experience.
						</li>
						<li>
							Responsible for designing, developing, and testing Android and iOS-based mobile
							applications using Flutter.
						</li>
						<li>
							Integrating various services and external APIs into the mobile application to expand
							functionality.
						</li>
						<li>
							Implemented mobile development best practices and patterns and presented them to other
							engineers.
						</li>
					</ul>
				</div>
				</div>
			</div>
		</div>
	</section>
</Layout>

<style>
	section {
		padding-bottom: 30px;
	}
	div {
		margin-bottom: 20px;
	}
	.card {
		display: block;
		padding: 1.5rem;
		margin: 0.5rem 0;
		border: none;
		background-color: transparent;
		transition: background-color 0.5s ease-out;
	}
	.card:hover {
		background-color: #fff;
		border: none;
		border-radius: 5px;
		box-shadow: 0px 10px 15px -22px rgba(0, 0, 0, 0.1);
		transform: scale(1.05);
	}

	@media (prefers-color-scheme: dark) {
		.card:hover {
			background: #2a2a2a;
		}
	}
	.grid {
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: 1fr auto;
	}
	@media screen and (max-width: 640px) {
		.grid {
			grid-template-columns: 1fr;
		}
	}
	.grid li {
		flex: 50%;
	}
	h1 {
		font-size: 3rem;
	}
	h3 {
		font-size: 1.5rem;
		margin-top: -2%;
	}
	ul {
		margin-left: 30px;
	}
</style>
