---
import Layout from '../layouts/Layout.astro'
---

<Layout
	title="Experience"
	description="Experienced Full Stack Developer with a demonstrated history of working in the information technology and services industry"
	keywords="code contributions,developer advocate, open source collaboration, problem solver, software development, laravel developer, react developer, full stack developer, javascript developer, web developer, software engineer"
	image="/favicon.svg"
>
	<section>
		<div class="container">
			<div class="content">
				<h1>Experience</h1>
				<div class="card">
					<h2>Full Stack Developer</h2>
					<h3>PT Sinergi Informatika Semen Indonesia — Jakarta, ID (Jan 2025 - Present)</h3>
					<div class="grid">
						<ul>
							<li>
								Developed a robust procurement management system using Laravel, React.js, and
								Tailwind CSS, streamlining the purchasing workflow and improving operational
								efficiency, while providing a seamless user experience for handling complex
								procurement processes.
							</li>
							<li>
								Created a responsive and user-friendly procurement interface with React.js and
								Tailwind CSS, integrated with Laravel backend, supporting scalable architecture and
								real-time interaction to enhance user productivity in procurement tasks.
							</li>
							<li>
								Designed a multilingual, role-based and integrated the system with FORCA to enable
								real-time synchronization, ensuring secure access, enhanced usability, and improved
								transparency in procurement operations.
							</li>
							<li>
								Implemented comprehensive security measures including authentication, role-based
								authorization, input validation, and anti-brute-force protection to safeguard
								sensitive procurement data and maintain system integrity.
							</li>
						</ul>
					</div>
				</div>
				<div class="card">
					<h2>Full Stack Developer</h2>
					<h3>PT Petrokimia Gresik — Gresik, ID (Sept 2024 - Present)</h3>
					<div class="grid">
						<ul>
							<li>
								As a Full Stack developer in Human Resource Information System (HRIS), I designed
								and implemented the main modules using Laravel, Vue.js, and Flutter. implemented the
								main module using Laravel, Vue.js, and Flutter. I built scalable backend services as
								well as responsive frontend interfaces to create an optimal user experience and
								ensure the system runs smoothly.
							</li>
							<li>
								Built a high-performance enterprise application by implementing Laravel Octane
								(Swoole) and a caching strategy using Redis, thereby increasing system speed.
								caching strategy using Redis, increasing system speed by 5x and reducing response
								time by 50%. Also optimized database queries and indexes on Microsoft SQL Server and
								PostgreSQL databases.
							</li>
							<li>
								Developed key HRIS features such as online attendance with Flutter, employee
								reimbursement with secure approval flow, scalable document archive system. scalable
								document archive system, and leave requests with an automated approval process, as
								well as adding other features as business needs evolve. as business needs evolve.
							</li>
							<li>
								Imported 3 million data into database, ensuring data integrity and optimal system
								performance
							</li>
							<li>
								Improved system reliability by implementing load balancing, rate limiting, and
								reverse proxy solutions, ensuring optimal performance and availability of HRIS
								applications that support key business needs. optimal performance and availability
								of HRIS applications that support key business needs.
							</li>
						</ul>
					</div>
				</div>
				<div class="card">
					<h2>Backend Developer</h2>
					<h3>Universitas Gajah Mada — Daerah Istimewa Yogyakarta, ID (Apr 2024 - Nov 2024)</h3>
					<div class="grid">
						<ul>
							<li>
								Developed the MinerbaOne platform with an architecture designed to ensure
								scalability, flexibility and ease of system maintenance. Focused on developing
								reliable and efficient backend services.
							</li>
							<li>
								Built various backend services using Laravel RESTful API by implementing JWT for
								authentication and authorization to keep user and data access secure.
							</li>
							<li>
								Focused on SQL query optimization and system performance to ensure fast and
								efficient large-scale data processing. Performed debugging and bug fixing to
								maintain system reliability and user satisfaction
							</li>
							<li>
								Used the sprint method in development iterations by holding planning sessions, daily
								stand-ups, reviews, and retrospectives to encourage collaboration, increase
								productivity, and meet project deadlines.
							</li>
						</ul>
					</div>
				</div>
				<div class="card">
					<h2>Full Stack Developer</h2>
					<h3>CV. Aliansyah — Pati, Central Java, ID (Sep 2022 - Agust 2024)</h3>
					<div class="grid">
						<ul>
							<li>
								Developed and designed a high-performance web application serving over 200 active
								users using Laravel and Vue.js. Developed RESTful API and optimized SQL queries,
								improving performance by 40% through efficient database design and query
								optimization.
							</li>
							<li>
								Integrated external APIs and third-party services to enhance functionality and user
								experience. Actively respond to user feedback by delivering improvements and feature
								development in a timely manner, ensuring alignment with business needs and
								objectives.
							</li>
							<li>
								Implemented CI/CD pipeline using GitHub Actions to streamline build, test, and
								deployment processes, reducing release cycles by 25%. Managed server environments
								with Ansible and Docker to automate provisioning, configuration, and deployment to
								minimize manual tasks.
							</li>
							<li>
								Configured Nginx as a reverse proxy to support load balancing and scalability,
								ensuring smooth operations during traffic spikes. Monitored system performance using
								Prometheus and Grafana, proactively identifying and resolving issues to maintain
								uptime and reliability.
							</li>
						</ul>
					</div>
				</div>
				<div class="card">
					<h2>AI Mastery MSIB Participant</h2>
					<h3>Orbit Future Academy — South Jakarta, Jakarta Raya, ID (Feb 2022 - Jul 2022)</h3>
					<div class="grid">
						<ul>
							<li>
								I learn about Deep Learning, Data Science, Natural Language Processing, Computer
								Vision, Reinforcement Learning, and Version Control System.
							</li>
							<li>
								Learn softskills such as professional branding, problem-solving, critical thinking,
								time management and teammate.
							</li>
							<li>
								I learn how to use Python, TensorFlow, Keras, PyTorch, Scikit-Learn, OpenCV, and
								other libraries to build Machine Learning models.
							</li>
							<li>Deploy Machine Learning models to the cloud and create a web app.</li>
						</ul>
					</div>
				</div>
				<div class="card">
					<h2>Mobile Developer</h2>
					<h3>PT PJB UBJOM REMBANG — Rembang, Central Java, ID (Agust 2021 - Okt 2021)</h3>
					<div class="grid">
						<ul>
							<li>
								Collaborated with back-end teams to brainstorm, design, and develop a service
								product to help people get hired.
							</li>
							<li>
								Ensuring the applications perform optimally and provide a satisfying user
								experience.
							</li>
							<li>
								Responsible for designing, developing, and testing Android and iOS-based mobile
								applications using Flutter.
							</li>
							<li>
								Integrating various services and external APIs into the mobile application to expand
								functionality.
							</li>
							<li>
								Implemented mobile development best practices and patterns and presented them to
								other engineers.
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
</Layout>

<style>
	section {
		padding-bottom: 30px;
	}
	div {
		margin-bottom: 20px;
	}
	.card {
		display: block;
		padding: 1.5rem;
		margin: 0.5rem 0;
		border: none;
		background-color: transparent;
		transition: background-color 0.5s ease-out;
	}
	.card:hover {
		background-color: #fff;
		border: none;
		border-radius: 5px;
		box-shadow: 0px 10px 15px -22px rgba(0, 0, 0, 0.1);
		transform: scale(1.05);
	}

	@media (prefers-color-scheme: dark) {
		.card:hover {
			background: #2a2a2a;
		}
	}
	.grid {
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: 1fr auto;
	}
	@media screen and (max-width: 640px) {
		.grid {
			grid-template-columns: 1fr;
		}
	}
	.grid li {
		flex: 50%;
	}
	h1 {
		font-size: 3rem;
	}
	h3 {
		font-size: 1.5rem;
		margin-top: -2%;
	}
	ul {
		margin-left: 30px;
	}
</style>
