---
import Layout from '../layouts/Layout.astro'
---

<Layout
	title="Experience"
	description="Experienced Full Stack Developer with a demonstrated history of working in the information technology and services industry"
	keywords="code contributions,developer advocate, open source collaboration, problem solver, software development, laravel developer, react developer, full stack developer, javascript developer, web developer, software engineer"
	image="/favicon.svg"
>
	<section>
		<div class="container">
			<div class="content">
				<h1>Experience</h1>
				<div class="card">
					<h2>Full Stack Developer</h2>
				<h3>PT. Petrokimia Gresik — Gresik, ID (Sept 2024 - Present)</h3>
				<div class="grid">
				<ul>
    <li>
        As a Full Stack developer in Human Resource Information System (HRIS), I designed and implemented the main modules using Laravel, Vue.js, and Flutter.
implemented the main module using Laravel, Vue.js, and Flutter. I built scalable backend services
as well as responsive frontend interfaces to create an optimal user experience and ensure the system runs smoothly.
    </li>
    <li>
        Built a high-performance enterprise application by implementing Laravel Octane (Swoole) and a caching strategy using Redis, thereby increasing system speed.
caching strategy using Redis, increasing system speed by 5x and reducing response time by 50%. Also
optimized database queries and indexes on Microsoft SQL Server and PostgreSQL databases.
    </li>
    <li>
        Developed key HRIS features such as online attendance with Flutter, employee reimbursement with secure approval flow, scalable document archive system.
scalable document archive system, and leave requests with an automated approval process, as well as adding other features as business needs evolve.
as business needs evolve.
    </li>
    <li>
        Implemented DevOps best practices by:
Designing CI/CD pipeline using GitLab CI/CD for automated testing and deployment.
Configuring high-availability infrastructure using Docker, Ansible, and GCP.
Setting up monitoring and observation systems with Prometheus and Grafana.
Managing application secrets using HashiCorp Vault.
    </li>
    <li>
        Improved system reliability by implementing load balancing, rate limiting, and reverse proxy solutions, ensuring optimal performance and availability of HRIS applications that support key business needs.
optimal performance and availability of HRIS applications that support key business needs.
    </li>
</ul>
				</div>
				</div>
				<div class="card">
					<h2>Backend Developer</h2>
				<h3>Universitas Gajah Mada — Daerah Istimewa Yogyakarta, ID (Apr 2024 - Nov 2024)</h3>
				<div class="grid">
					<ul>
						<li>
							Developed the MinerbaOne platform using a microservices architecture, ensuring enhanced scalability and maintainability. Led the
design, development, and maintenance of the platform’s backend services, which serve over 71K active users regularly.
						</li>
						<li>
							Developed various backend services using Laravel RESTful API, implementing JWT for authentication and authorization to secure
user access and data.
						</li>
						<li>
							Focused on optimizing SQL queries and system performance, ensuring fast and efficient processing of large-scale data. Debugged
and fixed bugs to ensure consistent system reliability and user satisfaction.
						</li>
						<li>Utilized the sprint method for development iterations, conducting planning sessions, daily stand-ups, reviews, and retrospectives to
foster collaboration, improve productivity, and meet project deadlines.</li>
						<li>
							Ensured the platform’s backend was optimized for scalability, able to handle increasing user traffic while maintaining high
performance. Focused on building a robust backend capable of adapting to future growth.
						</li>
					</ul>
				</div>
				</div>
				<div class="card">
					<h2>Full Stack Developer</h2>
				<h3>CV. Aliansyah — Pati, Central Java, ID (Sep 2022 - Agust 2024)</h3>
				<div class="grid">
					<ul>
						<li>
							Responsible for designing, developing, and maintaining a web application used by more
							than 100+ active users on a regular basis.
						</li>
						<li>
							Integrating external APIs and third-party services to enhance the application's
							functionality and support the growth of active users. (DB Transaction, Task
							Scheduling)
						</li>
						<li>
							Responsible for brainstorming, developing, testing, collaborating, code reviewing,
							debugging, and deploying. (GitHub, CI/CD, Unit Test, Server Monitoring, Logging)
						</li>
						<li>
							Optimized SQL Query for the heavy-load parts of the system, which improved website
							performance by 40% (Optimize Query, Indexing, Caching, Queue)
						</li>
						<li>
							Conducting regular monitoring and maintenance, as well as responding to user feedback
							to address weaknesses and improve features.
						</li>
					</ul>
				</div>
				</div>
				<div class="card">
					<h2>AI Mastery MSIB Participant</h2>
				<h3>Orbit Future Academy — South Jakarta, Jakarta Raya, ID (Feb 2022 - Jul 2022)</h3>
				<div class="grid">
					<ul>
						<li>
							I learn about Deep Learning, Data Science, Natural Language Processing, Computer
							Vision, Reinforcement Learning, and Version Control System.
						</li>
						<li>
							Learn softskills such as professional branding, problem-solving, critical thinking,
							time management and teammate.
						</li>
						<li>
							I learn how to use Python, TensorFlow, Keras, PyTorch, Scikit-Learn, OpenCV, and other
							libraries to build Machine Learning models.
						</li>
						<li>Deploy Machine Learning models to the cloud and create a web app.</li>
					</ul>
				</div>
				</div>
				<div class="card">
					<h2>Mobile Developer</h2>
				<h3>PT PJB UBJOM REMBANG — Rembang, Central Java, ID (Agust 2021 - Okt 2021)</h3>
				<div class="grid">
					<ul>
						<li>
							Collaborated with back-end teams to brainstorm, design, and develop a service product
							to help people get hired.
						</li>
						<li>
							Ensuring the applications perform optimally and provide a satisfying user experience.
						</li>
						<li>
							Responsible for designing, developing, and testing Android and iOS-based mobile
							applications using Flutter.
						</li>
						<li>
							Integrating various services and external APIs into the mobile application to expand
							functionality.
						</li>
						<li>
							Implemented mobile development best practices and patterns and presented them to other
							engineers.
						</li>
					</ul>
				</div>
				</div>
			</div>
		</div>
	</section>
</Layout>

<style>
	section {
		padding-bottom: 30px;
	}
	div {
		margin-bottom: 20px;
	}
	.card {
		display: block;
		padding: 1.5rem;
		margin: 0.5rem 0;
		border: none;
		background-color: transparent;
		transition: background-color 0.5s ease-out;
	}
	.card:hover {
		background-color: #fff;
		border: none;
		border-radius: 5px;
		box-shadow: 0px 10px 15px -22px rgba(0, 0, 0, 0.1);
		transform: scale(1.05);
	}

	@media (prefers-color-scheme: dark) {
		.card:hover {
			background: #2a2a2a;
		}
	}
	.grid {
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: 1fr auto;
	}
	@media screen and (max-width: 640px) {
		.grid {
			grid-template-columns: 1fr;
		}
	}
	.grid li {
		flex: 50%;
	}
	h1 {
		font-size: 3rem;
	}
	h3 {
		font-size: 1.5rem;
		margin-top: -2%;
	}
	ul {
		margin-left: 30px;
	}
</style>
