---
import Layout from '../layouts/Layout.astro'
---

<Layout
	title="Skills"
	description="Skilll and technology stack that I have learned and used in my projects."
	keywords="code contributions,developer advocate, open source collaboration, problem solver, software development, laravel developer, react developer, full stack developer, javascript developer, web developer, software engineer"
	image="/favicon.svg"
>
	<section>
		<div class="container">
			<div class="content">
				<h1>Skills and technologies</h1>
				<div class="grid">
					<ul>
						<h2>FrontEnd:</h2>
						<li>Javascript/Typescript</li>
						<li>Bootstrap</li>
						<li>Tailwind CSS</li>
						<li>jQuery</li>
						<li>AlpineJS</li>
						<li>Astro (this website was built with it)</li>
						<li>VueJS</li>
						<li>NuxtJS</li>
					</ul>
					<ul>
						<h2>BackEnd:</h2>
						<li>Golang</li>
						<li>PHP (Laravel, Lumen)</li>
						<li>NodeJS (ExpressJS)</li>
						<li>Bun (Hono)</li>
						<li>Databases (PostgreSQL, MySQL, MongoDB, Microsoft SQL Server, Redis)</li>
						<li>RESTful API</li>
						<li>GraphQL</li>
						<li>JWT</li>
						<li>Websockets</li>
						<li>API Documentation (Swagger, Insomnia, Scribe)</li>
						<li>Design Pattern (Repository, Service)</li>
						<li>Unit Test (PHP Unit, PEST, Jest)</li>
					</ul>
					<ul>
						<h2>DevOps:</h2>
						<li>Nginx</li>
						<li>PM2</li>
						<li>Versioning Control System (GIT)</li>
						<li>CI/CD (GitHub, Gitlab, Jenkins)</li>
						<li>Docker</li>
						<li>Linux Server Management (Ubuntu)</li>
						<li>Server Monitoring Tool (Prometheus, Grafana)</li>
						<li>Microsoft Azure</li>
					</ul>
					<ul>
						<h2>Other:</h2>
						<li>Agile</li>
						<li>Livewire</li>
						<li>InertiaJS</li>
						<li>AppSheet</li>
						<li>AppScript</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
</Layout>

<style>
	section {
		padding-bottom: 30px;
	}
	div {
		margin-bottom: 20px;
	}
	.grid {
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: 1fr auto;
	}
	@media screen and (max-width: 640px) {
		.grid {
			grid-template-columns: 1fr;
		}
	}
	.grid li {
		flex: 50%;
	}
	h1 {
		font-size: 3rem;
	}
	ul {
		margin-left: 30px;
	}
</style>
