---
import Layout from '../layouts/Layout.astro'
---

<Layout
	title="Skills"
	description="Skilll and technology stack that I have learned and used in my projects."
	keywords="code contributions,developer advocate, open source collaboration, problem solver, software development, laravel developer, react developer, full stack developer, javascript developer, web developer, software engineer"
	image="/favicon.svg"
>
	<section>
		<div class="container">
			<div class="content">
				<h1>Skills and technologies</h1>
				<div class="grid">
					<ul>
						<h2>FrontEnd:</h2>
						<li>Javascript/Typescript</li>
						<li>Bootstrap</li>
						<li>TailwindCSS</li>
						<li>jQuery</li>
						<li>Astro (this website was built with it)</li>
						<li>Vue.js</li>
						<li>Nuxt.js</li>
						<li>React.js</li>
						<li>Svelte</li>
						<li>Electron.js</li>
					</ul>
					<ul>
						<h2>BackEnd:</h2>
						<li>Golang</li>
						<li>PHP (Laravel, Lumen, Codeigniter)</li>
						<li>Node.js (Express.js, Adonis.js, Nest.js)</li>
						<li>Databases (PostgreSQL, MySQL, MongoDB, Microsoft SQL Server, Redis)</li>
					</ul>
					<ul>
						<h2>DevOps:</h2>
						<li>Nginx (Reverse Proxy, Load Balancer, Cache, SSL, Rate Limiting)</li>
						<li>PM2</li>
						<li>Laravel Octane (Swoole, FrankenPHP)</li>
						<li>Versioning Control System (GIT)</li>
						<li>CI/CD (GitHub, Gitlab, Jenkins)</li>
						<li>Docker</li>
						<li>Ansible</li>
						<li>HashiCorp Vault</li>
						<li>Server Monitoring Tool (Prometheus, Grafana)</li>
						<li>Microsoft Azure</li>
						<li>Google Cloud Platform</li>
					</ul>
					<ul>
						<h2>Web Scraping & Automation</h2>
						<li>Selenium</li>
						<li>Puppeteer</li>
						<li>Appium</li>
					</ul>
					
				</div>
			</div>
		</div>
	</section>
</Layout>

<style>
	section {
		padding-bottom: 30px;
	}
	div {
		margin-bottom: 20px;
	}
	.grid {
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: 1fr auto;
	}
	@media screen and (max-width: 640px) {
		.grid {
			grid-template-columns: 1fr;
		}
	}
	.grid li {
		flex: 50%;
	}
	h1 {
		font-size: 3rem;
	}
	ul {
		margin-left: 30px;
	}
</style>
