---
import HeaderLink from './HeaderLink.astro'
---

<header>
	<div class="container">
		<nav>
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/experience">Experience</HeaderLink>
			<HeaderLink href="/skills">Skills</HeaderLink>
			<HeaderLink href="/projects">Projects</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
		</nav>
	</div>

	<style>
		header {
			margin-top: 10rem;
		}
	</style>
</header>
